# Contrôle Continu

### Nom et prénom de l'étudiant

# Préparation des données

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
pd.set_option('max_columns', None)

## 1- Charger la donnée

In [3]:
raw_data = pd.read_csv("diabetes.txt", "\t")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

## 2- Afficher les 10 premières lignes de la raw_data

In [4]:
# Regarder dans la base
raw_data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148,NaN,35,0.0,33.6,0.627,50,1
1,1.0,85,NaN,29,0.0,26.6,0.351,31,0
2,8.0,183,NaN,0,0.0,23.3,0.672,32,1
3,1.0,89,NaN,23,94.0,28.1,0.167,21,0
4,0.0,137,NaN,35,168.0,43.1,2.288,33,1
5,5.0,116,NaN,0,0.0,25.6,0.201,30,0
6,3.0,78,NaN,32,88.0,31.0,0.248,26,1
7,10.0,115,NaN,0,0.0,35.3,0.134,29,0
8,2.0,197,NaN,45,543.0,30.5,0.158,53,1
9,8.0,125,NaN,0,0.0,0.0,0.232,54,1

## 3- Afficher les 10 dernières lignes de la raw_data

In [5]:
# Regarder dans la base
raw_data.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
758,1.0,106,76.0,0,0.0,37.5,0.197,26,0
759,6.0,190,92.0,0,0.0,35.5,0.278,66,1
760,2.0,88,58.0,26,16.0,28.4,0.766,22,0
761,9.0,170,74.0,31,0.0,44.0,0.403,43,1
762,9.0,89,62.0,0,0.0,22.5,0.142,33,0
763,10.0,101,76.0,48,180.0,32.9,0.171,63,0
764,2.0,122,70.0,27,0.0,36.8,0.340,27,0
765,5.0,121,72.0,23,112.0,26.2,0.245,30,0
766,1.0,126,60.0,0,0.0,30.1,0.349,47,1
767,1.0,93,70.0,31,0.0,30.4,0.315,23,0

## 4- Quelle est la dimension (nombre de lignes et nombre de colonnes) de raw_data ?

In [7]:
print(raw_data.shape)

(768, 9)

## 5- Afficher les informations concernant les colonnes et leur type respectif

In [8]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               741 non-null    float64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             748 non-null    float64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   747 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  581 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

## 6- Combien y-a-t-il de variables numériques

*Au vu des informations ci-dessus, toutes les colonnes (les 9) sont numériques (de type int et float).
Néanmoins si on analyse un peu, on peut penser que la donnée Outcome est catégorielle à première vue.*

In [11]:
# Colonnes numérique int
intcols = raw_data.select_dtypes(include='int64').columns
print(intcols)

Index(['Glucose', 'SkinThickness', 'Age', 'Outcome'], dtype='object')

In [12]:
# Colonnes numérique float
floatcols = raw_data.select_dtypes(include='float64').columns
print(floatcols)

Index(['Pregnancies', 'BloodPressure', 'Insulin', 'BMI',
       'DiabetesPedigreeFunction'],
      dtype='object')

## 7- Quelles sont les deux variables ayant le plus de valeurs manquantes

In [13]:
# nombre de valeurs manquantes
print(raw_data.isnull().sum().sort_values(ascending=False))

DiabetesPedigreeFunction    187
Pregnancies                  27
Insulin                      21
BloodPressure                20
Glucose                       0
SkinThickness                 0
BMI                           0
Age                           0
Outcome                       0
dtype: int64


Ce sont les données :
1.   DiabetesPedigreeFunction
2.   Pregnancies

## 8- Quelle est la proportion de valeurs manquantes dans les deux variables comportant le moins de valeurs manquantes ?

In [15]:
# Proportion de valeurs manquantes
raw_data.isnull().mean().sort_values(ascending=False)

DiabetesPedigreeFunction    0.243490
Pregnancies                 0.035156
Insulin                     0.027344
BloodPressure               0.026042
Glucose                     0.000000
SkinThickness               0.000000
BMI                         0.000000
Age                         0.000000
Outcome                     0.000000
dtype: float64

## 9- Convertir la variable "Pregnancies" en entier

In [26]:
raw_data = raw_data.astype({'Pregnancies':'int'})

IntCastingNaNError: ignored

Bizare alors que la doc dit le contraire ...
https://sparkbyexamples.com/pandas/pandas-convert-column-to-int/#:~:text=Convert%20Column%20to%20int%20(Integer,int64%20%2C%20numpy.

## 10- Vérifier que la conversion a bien été faite

In [20]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               741 non-null    float64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             748 non-null    float64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   747 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  581 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

## 11- imputer la variables Pregnancies par la médiane

In [21]:
data_median =  raw_data["Pregnancies"].fillna(raw_data["Pregnancies"].median())

## 12- Vérifier que l'imputation a bien été faite

In [25]:
data_median.describe()

count    768.000000
mean       3.812500
std        3.309541
min        0.000000
25%        1.000000
50%        3.000000
75%        6.000000
max       15.000000
Name: Pregnancies, dtype: float64

## 13- Comment la moyenne et la médiane de la variable Pregnancies ont été modifiées après l'imputation

## 14- Imputer toutes les autres valeurs manquantes par la stratégie de votre choix et explique

In [27]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               741 non-null    float64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             748 non-null    float64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   747 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  581 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

### Manuellement

In [28]:
# On prend la moyenne des pressions sanguines car ça fait sens de prendre la moyenne pour ce cas
BloodPressure = raw_data["BloodPressure"].fillna(raw_data["BloodPressure"].mean())
# On prend la median des DiabetesPedigreeFunction car chaque degré de diabete
DiabetesPedigreeFunction = raw_data["DiabetesPedigreeFunction"].fillna(raw_data["DiabetesPedigreeFunction"].median())

### Automatisé

## 15 Sélectionner toutes les variables sauf outcome

## 16 travailler uniquement les personnes ayant eu au moins une grossesse et la mettre dans une nouvelle table de données nommée donnees_propres

## 17 calculer et afficher la table de correlation de la table donnees_propre

## 18 afficher le graphe de la table de correspondance

## 19 afficher les statistiques descriptives des variables numériques

## 20- Recoder la variable Age de la façon suivante en age_rec

    - si age < 18 alors "mineurs"
    - si age compris entre 18 et 25 alors "juniors"
    - si age comrpis entre 25 et 50 alors "jeunes"
    - si age > 50 alors "senior"

## 21- Afficher le décompte de "age_rec"