# Preparation données

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
pd.set_option('max_columns', None)

In [ ]:
raw_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/TP2_appartement2.txt", "\t")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# Regarder dans la base
raw_data.head() # afficher les 5 premières lignes

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Unnamed: 6,Classe_energetique,Security
0,04/02/2015 17:51,23.18,27.2720,426.0,721.25,0.004793,NaN,A,oui
1,04/02/2015 17:51,23.15,27.2675,429.5,714.00,0.004783,NaN,A,oui
2,04/02/2015 17:53,23.15,27.2450,426.0,713.50,0.004779,NaN,A,oui
3,04/02/2015 17:54,23.15,27.2000,426.0,708.25,0.004772,NaN,A,oui
4,04/02/2015 17:55,23.10,27.2000,426.0,704.50,0.004757,NaN,A,oui

In [ ]:
len(raw_data["date"].unique())

14315

In [ ]:
print(raw_data.shape)
raw_data.info()

(17895, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17895 entries, 0 to 17894
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                17895 non-null  object
 1   Temperature         17871 non-null  float64
 2   Humidity            17895 non-null  float64
 3   Light               17764 non-null  float64
 4   CO2                 17830 non-null  float64
 5   HumidityRatio       17872 non-null  float64
 6   Unnamed: 6          0 non-null      float64
 7   Classe_energetique  17866 non-null  object
 8   Security            17844 non-null  object
dtypes: float64(6), object(3)
memory usage: 1.2+ MB

In [ ]:
# récupérer les colonnes à convertir
stringcols = raw_data.select_dtypes(include='object').columns
print(stringcols)

Index(['date', 'Classe_energetique', 'Security'], dtype='object')

In [ ]:
raw_data_conv = raw_data.copy()
#a mettre avant
raw_data_conv[stringcols] = raw_data_conv[stringcols].astype(str)
raw_data_conv[stringcols] = raw_data_conv[stringcols].astype("string")
raw_data_conv[stringcols] = raw_data_conv[stringcols].replace({pd.NA: np.nan})
raw_data_conv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17895 entries, 0 to 17894
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                17895 non-null  string
 1   Temperature         17871 non-null  float64
 2   Humidity            17895 non-null  float64
 3   Light               17764 non-null  float64
 4   CO2                 17830 non-null  float64
 5   HumidityRatio       17872 non-null  float64
 6   Unnamed: 6          0 non-null      float64
 7   Classe_energetique  17895 non-null  string
 8   Security            17895 non-null  string
dtypes: float64(6), string(3)
memory usage: 1.2 MB

In [ ]:
raw_data_conv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17895 entries, 0 to 17894
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                17895 non-null  string
 1   Temperature         17871 non-null  float64
 2   Humidity            17895 non-null  float64
 3   Light               17764 non-null  float64
 4   CO2                 17830 non-null  float64
 5   HumidityRatio       17872 non-null  float64
 6   Unnamed: 6          0 non-null      float64
 7   Classe_energetique  17895 non-null  string
 8   Security            17895 non-null  string
dtypes: float64(6), string(3)
memory usage: 1.2 MB

In [ ]:
raw_data_conv.isnull().sum().sort_values(ascending=False)

Unnamed: 6            17895
Light                   131
CO2                      65
Temperature              24
HumidityRatio            23
date                      0
Humidity                  0
Classe_energetique        0
Security                  0
dtype: int64

In [ ]:
raw_data_conv = raw_data_conv.dropna(axis=1, how='all')
raw_data_conv.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Classe_energetique,Security
0,04/02/2015 17:51,23.18,27.2720,426.0,721.25,0.004793,A,oui
1,04/02/2015 17:51,23.15,27.2675,429.5,714.00,0.004783,A,oui
2,04/02/2015 17:53,23.15,27.2450,426.0,713.50,0.004779,A,oui
3,04/02/2015 17:54,23.15,27.2000,426.0,708.25,0.004772,A,oui
4,04/02/2015 17:55,23.10,27.2000,426.0,704.50,0.004757,A,oui

In [ ]:
from datetime import datetime
raw_data_conv['date'] = pd.to_datetime(raw_data_conv['date'])
raw_data_conv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17895 entries, 0 to 17894
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                17895 non-null  datetime64[ns]
 1   Temperature         17871 non-null  float64
 2   Humidity            17895 non-null  float64
 3   Light               17764 non-null  float64
 4   CO2                 17830 non-null  float64
 5   HumidityRatio       17872 non-null  float64
 6   Classe_energetique  17895 non-null  string
 7   Security            17895 non-null  string
dtypes: datetime64[ns](1), float64(5), string(2)
memory usage: 1.1 MB

In [ ]:
print(raw_data_conv['Security'].value_counts())
raw_data_conv['Security'] = raw_data_conv['Security'].replace("nan", "non")
raw_data_conv["Security"].value_counts()

non    12684
oui     5160
nan       51
Name: Security, dtype: Int64

non    12735
oui     5160
Name: Security, dtype: Int64

In [ ]:
print(raw_data_conv['Classe_energetique'].value_counts())

C      7974
D      4710
B      3311
A      1871
nan      29
Name: Classe_energetique, dtype: Int64

In [ ]:
#raw_data_conv['Security'].value_counts()
# récupérer les colonnes à convertir
floatcols = raw_data_conv.select_dtypes(include='float64').columns
print(floatcols)

Index(['Temperature', 'Humidity', 'Light', 'CO2', 'HumidityRatio'], dtype='object')

In [ ]:
data_median =  raw_data_conv[floatcols].fillna(raw_data_conv[floatcols].median())
data_moyenne = raw_data_conv[floatcols].fillna(raw_data_conv[floatcols].mean())
data_mode = raw_data_conv[floatcols].fillna(raw_data_conv[floatcols].mode())

In [ ]:
print(" les stats descriptives après imputation par la médiane :", data_median.describe())
print(" les stats descriptives après imputation par la moyenne :", data_moyenne.describe())
print(" les stats descriptives après imputation par le mode :", data_mode.describe())
print(" les stats descriptives avant imputation:", raw_data_conv.describe())

 /nles stats descriptives après imputation par la médiane :         Temperature      Humidity         Light           CO2  HumidityRatio
count  17895.000000  17895.000000  17895.000000  17895.000000   17895.000000
mean      20.826040     27.998747    121.453183    686.791801       0.004258
std        1.035847      5.169896    202.207255    313.505558       0.000784
min       19.000000     16.745000      0.000000    412.750000       0.002674
25%       20.100000     24.890000      0.000000    458.750000       0.003767
50%       20.600000     27.793333      0.000000    565.000000       0.004343
75%       21.500000     31.856667    217.916667    792.000000       0.004860
max       24.390000     39.500000   1581.000000   2076.500000       0.006476
 /nles stats descriptives après imputation par la moyenne :         Temperature      Humidity         Light           CO2  HumidityRatio
count  17895.000000  17895.000000  17895.000000  17895.000000   17895.000000
mean      20.826343     27.998747    122.348836    687.235798       0.004258
std        1.035814      5.169896    201.938080    313.419299       0.000784
min       19.000000     16.745000      0.000000    412.750000       0.002674
25%       20.100000     24.890000      0.000000    458.750000       0.003767
50%       20.625000     27.793333      0.000000    565.500000       0.004342
75%       21.500000     31.856667    217.916667    792.000000       0.004860
max       24.390000     39.500000   1581.000000   2076.500000       0.006476
 /nles stats descriptives après imputation par le mode :         Temperature      Humidity         Light           CO2  HumidityRatio
count  17871.000000  17895.000000  17764.000000  17830.000000   17872.000000
mean      20.826343     27.998747    122.348836    687.235798       0.004258
std        1.036510      5.169896    202.681347    313.990102       0.000785
min       19.000000     16.745000      0.000000    412.750000       0.002674
25%       20.100000     24.890000      0.000000    458.500000       0.003765
50%       20.600000     27.793333      0.000000    565.000000       0.004343
75%       21.500000     31.856667    227.250000    793.000000       0.004860
max       24.390000     39.500000   1581.000000   2076.500000       0.006476
 /nles stats descriptives avant imputation:         Temperature      Humidity         Light           CO2  HumidityRatio
count  17871.000000  17895.000000  17764.000000  17830.000000   17872.000000
mean      20.826343     27.998747    122.348836    687.235798       0.004258
std        1.036510      5.169896    202.681347    313.990102       0.000785
min       19.000000     16.745000      0.000000    412.750000       0.002674
25%       20.100000     24.890000      0.000000    458.500000       0.003765
50%       20.600000     27.793333      0.000000    565.000000       0.004343
75%       21.500000     31.856667    227.250000    793.000000       0.004860
max       24.390000     39.500000   1581.000000   2076.500000       0.006476

In [ ]:
raw_data_conv.isnull().mean().sort_values(ascending=False)

Light                 0.007320
CO2                   0.003632
Temperature           0.001341
HumidityRatio         0.001285
date                  0.000000
Humidity              0.000000
Classe_energetique    0.000000
Security              0.000000
dtype: float64

In [ ]:
print(raw_data_conv.shape)
# 1 pour supprimer les colonnes contenant des valeurs manquantes
data_supp_col = raw_data_conv.dropna(axis=1)

print(data_supp_col.shape)

(17895, 8)
(17895, 4)

In [ ]:
data_supp_col.head()

                 date  Humidity Classe_energetique Security
0 2015-04-02 17:51:00   27.2720                  A      oui
1 2015-04-02 17:51:00   27.2675                  A      oui
2 2015-04-02 17:53:00   27.2450                  A      oui
3 2015-04-02 17:54:00   27.2000                  A      oui
4 2015-04-02 17:55:00   27.2000                  A      oui